<section class="for__parents">
    <div class="conatiner">
        <div class="row">
            <div class="col-12">
                <p class="above-title">Для батьків</p>
            </div>
            <div class="col-12">
                <h3>
                    Як знайти няню <br>
                    своєї мрії
                </h3>
            </div>
        </div>
        <section class="template">
            <div id="tab1" class="col-4  box active" data-tabs="1">
                <h4>
                    Розмістіть ваше
                    оголошення
                </h4>
                <p class="template__p">Розкажіть саме про ваші потреби та завдання</p>
            </div>
            <div id="tab2" class="col-4  box active" data-tabs="2">
                <h4>
                    Перегляньте анкети <br> нянь поблизу
                </h4>
                <p class="template__p">та проведіть співбесіду з тими хто відповідає вашим вимогам </p>
            </div>
            <div id="tab3" class="col-4  box active" data-tabs="3">
                <h4>
                    Найміть свою ідеальну няню
                </h4>
                <p class="template__p">Обговоріть деталі, сформуйте договір прямо на  сайті</p>
            </div>
        </section>
        <div class="content__tabs">
            <div class="content d-none" data-tabs="1">Додати оголошення</div>
            <div class="content d-none" data-tabs="2">Няні поблизу</div>
            <div class="content d-none" data-tabs="3">Ваша ідеальна няня</div>
        </div>
    </div>
</section>

<!-- <section class="for__parents">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex main">
                <img src="../img/img-for-parent.jpg" alt="img">
            </div>
            <div class="for__parents-text">
                <div class="col-12">
                    <div class="heading">Для батьків</div>
                </div>
                <div class="col-12">
                    <div class="title">Як знайти няню <br> своєї мрії</div>
                </div>
            </div>
            <section class="template">
                <div class="nav__tabs d-flex">
                    <div class="col-4">
                        <div id="tab1" class="item active" data-tabs="1">
                            Розмістіть ваше
                            оголошення
                        </div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab2" class="item active" data-tabs="2">Перегляньте анкети нянь поблизу</div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab3" class="item active" data-tabs="3">Найміть свою ідеальну няню</div>
                    </div>
                </div>
                <div class="content__tabs">
                    <div class="content d-none" data-tabs="1">Додати оголошення</div>
                    <div class="content d-none" data-tabs="2">Няні поблизу</div>
                    <div class="content d-none" data-tabs="3">Ваша ідеальна няня</div>
                </div>
            </section>

        </div>
    </div>
</section> -->