<section class="for__parents">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex main">
                <img src="../img/img-for-parent.jpg" alt="img">
            </div>
            <div class="for__parents-text">
                <div class="col-12">
                    <div class="heading">Для батьків</div>
                </div>
                <div class="col-12">
                    <div class="title">Як знайти няню <br> своєї мрії</div>
                </div>
            </div>
            <section class="template">
                <div class="nav__tabs d-flex">
                    <div class="col-4">
                        <div id="tab1" class="item active" data-tabs="1">
                            Розмістіть ваше
                            оголошення
                        </div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab2" class="item active" data-tabs="2">Перегляньте анкети нянь поблизу</div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab3" class="item active" data-tabs="3">Найміть свою ідеальну няню</div>
                    </div>
                </div>
                <div class="content__tabs">
                    <div class="content d-none" data-tabs="1">Додати оголошення</div>
                    <div class="content d-none" data-tabs="2">Няні поблизу</div>
                    <div class="content d-none" data-tabs="3">Ваша ідеальна няня</div>
                </div>
            </section>

        </div>
    </div>
</section>