<section class="for__nany">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6 nany-backgrond">
                    <img src="../img/nany-backgrond.jpg" alt="img">
                </div>
                <div class="col-6 nany-img"> 
                    <img src="../img/for-nany1.jpg" alt="img">
                 </div>
            </div>
          
            <div class="for__nany text">
                <div class="col-12">
                    <div class="text__heading">Для нянь</div>
                </div>
                <div class="col-12">
                    <div class="text__title">Як знайти роботу <br> професійною нянею </div>
                </div>
            </div>
            <section class="template">
                <div class="nav__tabs-nany d-flex">
                    <div class="col-4">
                        <div id="tab1" class="item active" data-tabs="1">
                            Створіть профіль няні
                        </div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab2" class="item active" data-tabs="2">Реагуйте на оголошення про роботу</div>
                    </div>
                    <div class="col-4 ms-3">
                        <div id="tab3" class="item active" data-tabs="3">Знайдіть вашого вихованця</div>
                    </div>
                </div>
                <div class="content__tabs">
                    <div class="content d-none" data-tabs="1">Додати оголошення</div>
                    <div class="content d-none" data-tabs="2">Няні поблизу</div>
                    <div class="content d-none" data-tabs="3">Ваша ідеальна няня</div>
                </div>
            </section>

        </div>
    </div>
</section>