<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 header__main d-flex align-items-center">
                <div class="col-4 header__top d-flex  align-items-center">
                    <div class="header__logo">
                        <b>MOM</b>SEEK
                    </div>
                    <div class="header__lang d-flex ms-1">
                        <div class="lang-icon ms-1">
                            <img src="../img/emojione-monotone_globe-with-meridians.svg" alt="img">
                        </div>

                        <div class="lang-name">
                            <p class="d-none d-lg-block">Українська</p>
                            <p class="d-lg-none d-block">UA</p>
                            <div class="drop-down-language">
                                <img src="../img/arrow-down.svg" alt="arrow">
                                <div class="drop-down">
                                    <a href="#">eng</a>
                                    <a href="#">pl</a>
                                    <a href="#">lv</a>
                                    <a href="#">lt</a>
                                    <a href="#">et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <nav class="header__nav">
                        <div class="buttons">
                            <button class="blue-btn">Розмістити оголошення</button>
                            <button class="border-btn">Знайти роботу</button>
                        </div>
                        <div class="btn__mobile d-flex">
                            <button class="blue-btn-mobile">
                                <img src="../img/Label1-mobile.svg" alt="img">
                            </button>
                            <button class="border-btn-mobile ms-2">
                                <img src="../img/label2-mobile.svg" alt="img">
                            </button>
                        </div>
                        <div class="img__lock d-flex">
                            <img src="img/bxs_lock-open-alt.svg" alt="img">
                            <button class="entry">Увійти</button>
                        </div>


                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>