<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 d-flex  align-items-center">
                    <div class="header__logo">
                        <b>MOM</b>SEEK
                    </div>
                    <div class="header__lang d-flex ms-1">
                        <div class="lang-icon ms-1">
                            <img src="../img/emojione-monotone_globe-with-meridians.svg" alt="img">
                        </div>
                    
                        <div class="lang-name">
                            Укра'їнська
                            <div class="drop-down-language">
                                <img src="../img/arrow-down.svg" alt="arrow">
                                <div class="drop-down">
                                    <a href="#">eng</a>
                                    <a href="#">pl</a>
                                    <a href="#">lv</a>
                                    <a href="#">lt</a>
                                    <a href="#">et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <nav class="header__nav d-flex align-items-center">
                        <div class="nav__btn">
                            <a class="nav__link-blue" href="#">Розмістити оголошення</a>
                        </div>
                        <div class="nav__btn ms-2">
                            <a class="nav__link-border" href="#">
                                Знайти роботу
                            </a>
                        </div>
                        <div class="entry__icon ms-3">
                            <img src="../img/bxs_lock-open-alt.svg" alt="img">
                            <a class="entry__text" href="#">Увійти</a>
                        </div>
                    </nav>
                </div>
               
            </div>
        </div>
    </div>
</header>