<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex ">
                <div class="col-9">
                    <div class="hero__title">
                        Батьки вільні, діти доглянуті
                    </div>
                    <div class="hero__describe">
                        сервіс для пошуку нянь поблизу
                    </div>
                </div>
                <div class="col-3">
                    <div class="hero__img">
                        <img src="../img/undraw_children_re_c37f 1.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>