<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex ">
                <div class="col-9">
                    <div class="hero__title">
                        Батьки вільні, діти доглянуті
                    </div>
                    <div class="hero__describe">
                        сервіс для пошуку нянь поблизу
                    </div>
                </div>
                <div class="col-3">
                    <div class="hero__img">
                        <img src="../img/undraw_children_re_c37f 1.svg" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center search">
                <div class="col-3">
                    <select class="search__nany">
                        <option selected>Шукаю няню</option>
                        <option value="1">Довотерміново</option>
                        <option value="2">Короткотерміново</option>
                        <option value="3">Погодинно</option>
                    </select>
                </div>
                <div class="col-5">
                    <select class="search__city">
                        <option selected>Київ, Україна</option>
                        <option value="1">Львів, Україна</option>
                        <option value="2">Ужгород, Україна</option>
                        <option value="3">Тернопіль, Україна</option>
                    </select>
                </div>
                <div class="col-4">
                    <a class="hero__btn" href="#">Шукати</a>
                </div>
            </div>
        </div>
    </div>
</section>