<section class="template">
    <div class="nav__tabs d-flex">
        <div id="tab1" class="item active" data-tabs="1">1</div>
        <div id="tab2" class="item" data-tabs="2">2</div>
        <div id="tab3" class="item" data-tabs="3">3</div>
    
    </div>
    <div class="content__tabs">
        <div class="content" data-tabs="1">content1</div>
        <div class="content d-none" data-tabs="2">content2</div>
        <div class="content d-none" data-tabs="3">content3</div>
    </div>
</section>