 .community{
    overflow-x: hidden;

    &__title{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 10px;
    }

    &__describe{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #000000;
    }

    &__info{
        .line{
            width: 90%;
            height: 3px;
            background-color: #1E3173;
            margin-top: 40px;
            margin-bottom: 16px;
        }

        .community__info-title{
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            color: #000000;
        }
        .community__info-date{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;        
            color: #000000; 
            margin-top: 30px;
        }

        .community__info-questions{
            font-family: 'Roboto';
            font-weight: 600;
            font-size: 22px;
            line-height: 120%;
            color: #1E3173;
            padding-right: 20px;
            &:hover{
                color: #8392ce;
                transition: 0.4s;
            }
        }
        .community__info-text{
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: #000000;
            margin-top: 30px;
            padding: 0px 60px 0px 16px;
        }

        .community__info-item{
            display: flex;
            align-items: center;
            margin: 30px 0px 40px;
            @media screen and (max-width:1094px){
                flex-wrap: wrap;
            }
            .item-name{
                padding-left: 10px;
                font-family: 'Raleway';
                font-weight: 800;
                font-size: 16px;
                line-height: 120%;
                color: #1E3173;
                white-space: nowrap;
            }
            .item-top{
                padding: 0px 18px 0px 12px;
                font-family: 'Raleway';
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #000000;
                white-space: nowrap;
            }

            .item-description{
                font-family: 'Raleway';
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                text-decoration-line: underline;
                color: #000000;
               
                @media screen and (max-width:1094px){
                    margin-top: 10px;
                }
            }

        }
        

    }
    &__btn{
        margin: 60px 100px;
        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            padding: 16px 80px;
            border: 2px solid #1E3173;
            border-radius: 32px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1E3173;
        }
    }
}