.header {
    overflow-x: hidden;
    background: linear-gradient(102.5deg, #FFF6DA 0%, #FFDEF2 100%);
    padding-top: 36px;
}
.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
}



.lang-name{
    display: flex;
    .drop-down-language{
        position: relative;
        &:hover .drop-down{
            display: flex;
            flex-direction: column;
            a{
                color: #1E3173;
                font-weight: 500;
            }
            :first-child:hover{
                color: #1E3173;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
            :nth-child(2):hover{
                color: #1E3173;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
            :nth-child(3):hover{
                color: #1E3173;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
            :nth-child(4):hover{
                color: #1E3173;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
            :last-child:hover{
                color: #1E3173;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
         
        }
        &:hover img{
            cursor: pointer;
            transform: rotate(180deg);
        }
    }
    .drop-down{
        display: none;
        position: absolute;
        z-index: 10;
    }
}

.header__main{
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.header__top{
    @media screen and (max-width: 768px) {
        justify-content: center;
        margin-bottom: 20px;
    }
}

.header__nav{
    display: flex;
    justify-content: end;
    align-items: center;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
}

.blue-btn{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    background-color: #1E3173;
    border-radius: 24px;
    padding: 9px 20px;
    color: #FFFFFF;
    border: none;
    margin-right: 8px;
    @media screen and (max-width: 992px) {
        display: none;
    }

}

.blue-btn-mobile{
    display: none;
    @media screen and (max-width: 992px) {
        display: block;
        background-color: #1E3173;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 4px 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        img{
            width: 80%;
            height: 60%;
        }
    }
    @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 4px 10px;
    }
}

.border-btn{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    border: 2px solid #1E3173;
    border-radius: 24px;
    padding: 9px 20px;
    color: #1E3173;
    background-color: inherit;
    margin-right: 30px;
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.border-btn-mobile{
    display: none;
    @media screen and (max-width: 992px) {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 4px 10px;
        font-size: 16px;
        border: 2px solid #1E3173;
        cursor: pointer;
        img{
            width: 60%;
            height: 50%;
        }
    }
    @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 4px 10px;
    }

}



.entry{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    border: none;
    background-color: inherit;
    color: #1E3173;
    padding-left: 10px;
 
    &:hover{
        color: #1E3173;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 700;
        
    }
}

