.hero {
    background: linear-gradient(102.5deg, #FFF6DA 0%, #FFDEF2 100%);
    
}

.hero__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    margin-top: 95px;
}

.hero__describe {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

.hero__img {
    margin-top: 86px;
}


